@font-face {
    font-family: 'SFPro';
    font-style: normal;
    font-display: auto;
    src: url("../fonts/SF-Pro/SF-Pro.ttf");
}

@font-face {
    font-family: 'SFPro-Italic';
    font-style: normal;
    font-display: auto;
    src: url("../fonts/SF-Pro/SF-Pro-Italic.ttf");
}
